<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.oilStationMap.dao.WX_AdInfoDao">

    <sql id="columnList">    <!-- 字段 -->
        id,
        ad_title,
        ad_imgUrl,
        ad_content,
        ad_remark,
        status,
        create_time,
        update_time
    </sql>

    <sql id="TColumnList">    <!-- 带表别名的字段 -->
        oai.id as "id",
        oai.ad_title as "adTitle",
        oai.ad_imgUrl as "adImgUrl",
        oai.ad_content as "adContent",
        oai.ad_remark as "adRemark",
        oai.status as "status",
        date_format(oai.create_time, '%Y-%c-%d %H:%i:%s') as "createTime",
        date_format(oai.update_time, '%Y-%c-%d %H:%i:%s') as "updateTime"
    </sql>

    <sql id="queryConditions"><!-- 查询条件 -->
        <where>oai.status='0'
            <if test="id != null and id != ''">
                AND oai.id = #{id}
            </if>
        </where>
        ORDER BY oai.create_time asc
    </sql>

    <insert id="addAdInfo" parameterType="java.util.Map" useGeneratedKeys="true"
            keyProperty="id">
        insert into o_ad_info (
            <include refid="columnList"/>
        ) values (
            #{id},
            #{adTitle},
            #{adImgUrl},
            #{adContent},
            #{adRemark},
            #{status},
            #{createTime},
            #{updateTime}
        )
    </insert>

    <delete id="deleteAdInfo">
        update o_ad_info set status=1 where 1=1
        <if test="id != null and id != ''">
            AND id = #{id}
        </if>
    </delete>

    <update id="updateAdInfo">
        update o_ad_info oai
        <set>
            <if test="adTitle != null and adTitle != ''">
                oai.ad_title = #{adTitle},
            </if>
            <if test="adImgUrl != null and adImgUrl != ''">
                oai.ad_imgUrl = #{adImgUrl},
            </if>
            <if test="adContent != null and adContent != ''">
                oai.ad_content = #{adContent},
            </if>
            <if test="adRemark != null and adRemark != ''">
                oai.ad_remark = #{adRemark},
            </if>
            oai.update_time = CURRENT_TIMESTAMP
        </set>
        where 1=1
        <if test="id != null and id != ''">
            and oai.id = #{id}
        </if>
    </update>

    <select id="getSimpleAdInfoByCondition" resultType="java.util.Map">
        SELECT
            <include refid="TColumnList"/>
        FROM o_ad_info oai
            <include refid="queryConditions"/>
        <if test="start != null and size != null">
            LIMIT ${start},${size}
        </if>
    </select>

    <select id="getSimpleAdInfoTotalByCondition" resultType="java.lang.Integer">
        SELECT
            COUNT(*) total
        from o_ad_info oai
            <include refid="queryConditions"/>
    </select>
    
</mapper>
