<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.oilStationMap.dao.WX_AdExtensionHistoryDao">

    <sql id="columnList">    <!-- 字段 -->
        id,
        media_appId,
        ad_appId,
        ad_extension_random_num,
        remark,
        status,
        create_time,
        update_time
    </sql>

    <sql id="TColumnList">    <!-- 带表别名的字段 -->
        oaeh.id as "id",
        oaeh.media_appId as "mediaAppId",
        oaeh.ad_appId as "adAppId",
        oaeh.ad_extension_random_num as "adExtensionRandomNum",
        oaeh.remark as "remark",
        oaeh.status as "status",
        date_format(oaeh.create_time, '%Y-%c-%d %H:%i:%s') as "createTime",
        date_format(oaeh.update_time, '%Y-%c-%d %H:%i:%s') as "updateTime"
    </sql>

    <sql id="queryConditions"><!-- 查询条件 -->
        <where>status=0
            <if test="id != null and id != ''">
                AND oaeh.id = #{id}
            </if>
            <if test="mediaAppId != null and mediaAppId != ''">
                AND oaeh.media_appId = #{mediaAppId}
            </if>
            <if test="adAppId != null and adAppId != ''">
                AND oaeh.ad_appId = #{adAppId}
            </if>
            <if test="adExtensionRandomNum != null and adExtensionRandomNum != ''">
                AND oaeh.ad_extension_random_num = #{adExtensionRandomNum}
            </if>
            <if test="remark != null and remark != ''">
                AND oaeh.remark like concat('%',#{remark},'%')
            </if>
            <if test="createTime!=null and createTime!=''">
                AND oaeh.create_time &gt;= date_format(CONCAT(#{createTime}, ' 00:00:00'), '%Y-%m-%d %H:%i:%s')
                AND oaeh.create_time &lt;= date_format(CONCAT(#{createTime}, ' 23:59:59'), '%Y-%m-%d %H:%i:%s')
            </if>
        </where>
        ORDER BY oaeh.create_time desc
    </sql>

    <insert id="addAdExtensionHistory" parameterType="java.util.Map" useGeneratedKeys="true"
            keyProperty="id">
        insert into o_ad_extension_history (
            <include refid="columnList"/>
        ) values (
            #{id},
            #{mediaAppId},
            #{adAppId},
            #{adExtensionRandomNum},
            #{remark},
            #{status},
            #{createTime},
            now()
        )
    </insert>

    <delete id="deleteAdExtensionHistory">
        DELETE FROM o_ad_extension_history WHERE 1=1
        <if test="id != null and id != ''">
            AND id = #{id}
        </if>
    </delete>

    <update id="updateAdExtensionHistory">
        update o_ad_extension_history oaeh
        <set>
            <if test="uid != null and uid != ''">
                oaeh.uid = #{uid},
            </if>
            <if test="mediaAppId != null and mediaAppId != ''">
                oaeh.media_appId = #{mediaAppId},
            </if>
            <if test="adAppId != null and adAppId != ''">
                oaeh.ad_appId = #{adAppId},
            </if>
            <if test="adExtensionRandomNum != null and adExtensionRandomNum != ''">
                oaeh.ad_extension_random_num = #{adExtensionRandomNum},
            </if>
            <if test="remark != null and remark != ''">
                oaeh.remark = #{remark},
            </if>
            <if test="status != null and status != ''">
                oaeh.status = #{status},
            </if>
            oaeh.update_time = CURRENT_TIMESTAMP
        </set>
        where 1=1
        <if test="id != null and id != ''">
            and oaeh.id = #{id}
        </if>
    </update>

    <select id="getSimpleAdExtensionHistoryByCondition" resultType="java.util.Map">
        SELECT
        <include refid="TColumnList"/>
        FROM o_ad_extension_history oaeh
        <include refid="queryConditions"/>
    </select>

    <select id="getSimpleAdExtensionHistoryTotalByCondition" resultType="java.lang.Integer">
        SELECT
        COUNT(*) total
        from o_ad_extension_history oaeh
        <include refid="queryConditions"/>
    </select>

</mapper>
