<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oilStationMap.dao.WX_OilStationDao">

    <sql id="columnList">    <!-- 字段 -->
        id,
        oil_station_code,
        oil_station_owner_uid,
        oil_station_name,
        oil_station_area_spell,
        oil_station_area_name,
        oil_station_adress,
        oil_station_brand_name,
        oil_station_type,
        oil_station_discount,
        oil_station_exhaust,
        oil_station_position,
        oil_station_lon,
        oil_station_lat,
        oil_station_pay_type,
        oil_station_price,
        oil_station_distance,
        is_manual_modify,
        oil_station_wx_payment_code_img_url,
        create_time,
        update_time
    </sql>

    <sql id="TColumnList">    <!-- 带表别名的字段 -->
        oos.id as "id",
        oos.oil_station_code as "oilStationCode",
        oos.oil_station_owner_uid as "oilStationOwnerUid",
        oos.oil_station_name as "oilStationName",
        oos.oil_station_area_spell as "oilStationAreaSpell",
        oos.oil_station_area_name as "oilStationAreaName",
        oos.oil_station_adress as "oilStationAdress",
        oos.oil_station_brand_name as "oilStationBrandName",
        oos.oil_station_type as "oilStationType",
        oos.oil_station_discount as "oilStationDiscount",
        oos.oil_station_exhaust as "oilStationExhaust",
        oos.oil_station_position as "oilStationPosition",
        oos.oil_station_lon as "oilStationLon",
        oos.oil_station_lat as "oilStationLat",
        oos.oil_station_pay_type as "oilStationPayType",
        oos.oil_station_price as "oilStationPrice",
        oos.oil_station_distance as "oilStationDistance",
        oos.is_manual_modify as "isManualModify",
        oos.oil_station_category as "oilStationCategory",
        oos.share_title as "shareTitle",
        oos.oil_station_hire_url as "oilStationHireUrl",
        oos.oil_station_hire_title as "oilStationHireTitle",
        oos.oil_station_wx_payment_code_img_url as
        "oilStationWxPaymentCodeImgUrl",
        date_format(oos.create_time, '%Y-%c-%d %H:%i:%s') as "createTime",
        date_format(oos.update_time, '%Y-%c-%d %H:%i:%s') as "updateTime"
    </sql>

    <sql id="queryConditions"><!-- 查询条件 -->
        <where>1=1
            <if test="id != null and id != ''">
                AND oos.id = #{id}
            </if>
            <if test="oilStationCode != null and oilStationCode != ''">
                AND oos.oil_station_code = #{oilStationCode}
            </if>
            <if test="oilStationOwnerUid != null and oilStationOwnerUid != ''">
                AND oos.oil_station_owner_uid = #{oilStationOwnerUid}
            </if>
            <if test="oilStationName != null and oilStationName != ''">
                AND oos.oil_station_name = #{oilStationName}
            </if>
            <if test="oilStationAreaName != null and oilStationAreaName != ''">
                AND oos.oil_station_area_name like
                concat('%',#{oilStationAreaName},'%')
            </if>
            <!--<if test="oilStationType != null or oilStationType != ''">-->
            <!--AND oos.oil_station_type = #{oilStationType}-->
            <!--</if>-->
            <!--<if test="oilStationType == null or oilStationType == ''">-->
            <!--AND oos.oil_station_type <![CDATA[ <> ]]> "民营"-->
            <!--</if>-->
            <if test="oilStationType != null and oilStationType != ''">
                AND oos.oil_station_type = #{oilStationType}
            </if>
            <if test="oilStationAdress != null and oilStationAdress != ''">
                AND oos.oil_station_adress like
                concat('%',#{oilStationAdress},'%')
            </if>
            <if test="oilStationPosition != null and oilStationPosition != ''">
                AND oos.oil_station_position = #{oilStationPosition}
            </if>
            <if test="isManualModify != null and isManualModify != ''">
                AND oos.is_manual_modify = #{isManualModify}
            </if>
            <if test="minLat != null and maxLat != null and minLon != null and maxLon != null">
                AND oos.oil_station_lat &gt;= #{minLat} AND oos.oil_station_lat
                &lt;= #{maxLat}
                AND oos.oil_station_lon &gt;= #{minLon} AND oos.oil_station_lon
                &lt;= #{maxLon}
            </if>
        </where>
        ORDER BY oos.oil_station_distance desc
    </sql>

    <insert id="addOilStation" parameterType="java.util.Map"
            useGeneratedKeys="true" keyProperty="id">
        insert into o_oil_station (
        <include refid="columnList"/>
        ) values (
        #{id},
        #{oilStationCode},
        #{oilStationOwnerUid},
        #{oilStationName},
        #{oilStationAreaSpell},
        #{oilStationAreaName},
        #{oilStationAdress},
        #{oilStationBrandName},
        #{oilStationType},
        #{oilStationDiscount},
        #{oilStationExhaust},
        #{oilStationPosition},
        #{oilStationLon},
        #{oilStationLat},
        #{oilStationPayType},
        #{oilStationPrice},
        #{oilStationDistance},
        #{isManualModify},
        #{oilStationWxPaymentCodeImgUrl},
        #{createTime},
        #{updateTime}
        )
    </insert>

    <delete id="deleteOilStation">
        DELETE FROM o_oil_station WHERE 1=1
        <if test="id != null and id != ''">
            AND id = #{id}
        </if>
        <if test="oilStationCode != null and oilStationCode != ''">
            AND oil_station_code = #{oilStationCode}
        </if>
    </delete>

    <update id="updateOilStation">
        update o_oil_station oos
        <set>
            <if test="oilStationName != null and oilStationName != ''">
                oos.oil_station_name = #{oilStationName},
            </if>
            <if test="oilStationOwnerUid != null and oilStationOwnerUid != ''">
                oos.oil_station_owner_uid = #{oilStationOwnerUid},
            </if>
            <if test="oilStationAreaSpell != null and oilStationAreaSpell != ''">
                oos.oil_station_area_spell = #{oilStationAreaSpell},
            </if>
            <if test="oilStationAreaName != null and oilStationAreaName != ''">
                oos.oil_station_area_name = #{oilStationAreaName},
            </if>
            <if test="oilStationAdress != null and oilStationAdress != ''">
                oos.oil_station_adress = #{oilStationAdress},
            </if>
            <if test="oilStationBrandName != null and oilStationBrandName != ''">
                oos.oil_station_brand_name = #{oilStationBrandName},
            </if>
            <if test="oilStationType != null and oilStationType != ''">
                oos.oil_station_type = #{oilStationType},
            </if>
            <if test="oilStationDiscount != null and oilStationDiscount != ''">
                oos.oil_station_discount = #{oilStationDiscount},
            </if>
            <if test="oilStationExhaust != null and oilStationExhaust != ''">
                oos.oil_station_exhaust = #{oilStationExhaust},
            </if>
            <if test="oilStationPosition != null and oilStationPosition != ''">
                oos.oil_station_position = #{oilStationPosition},
            </if>
            <if test="oilStationLon != null and oilStationLon != ''">
                oos.oil_station_lon = #{oilStationLon},
            </if>
            <if test="oilStationLat != null and oilStationLat != ''">
                oos.oil_station_lat = #{oilStationLat},
            </if>
            <if test="oilStationPayType != null and oilStationPayType != ''">
                oos.oil_station_pay_type = #{oilStationPayType},
            </if>
            <if test="oilStationPrice != null and oilStationPrice != ''">
                oos.oil_station_price = #{oilStationPrice},
            </if>
            <if test="oilStationDistance != null and oilStationDistance != ''">
                oos.oil_station_distance = #{oilStationDistance},
            </if>
            <if test="isManualModify != null and isManualModify != ''">
                oos.is_manual_modify = #{isManualModify},
            </if>
            oos.update_time = CURRENT_TIMESTAMP
        </set>
        where 1=1
        <if test="id != null and id != ''">
            and oos.id = #{id}
        </if>
        <if test="oilStationCode != null and oilStationCode != ''">
            and oos.oil_station_code = #{oilStationCode}
        </if>
        ;commit;
    </update>

    <update id="updateOilStationPrice">
        update o_oil_station oos
        <set>
            <if test="oilStationPrice != null and oilStationPrice != ''">
                oos.oil_station_price = #{oilStationPrice},
            </if>
            oos.update_time = CURRENT_TIMESTAMP
        </set>
        where 1=1 AND oos.id = #{id}
        <if test="oilStationAdress != null and oilStationAdress != ''">
            and oos.oil_station_adress like concat('%',#{oilStationAdress},'%')
        </if>
    </update>


    <select id="updateOilStationPrice_by_Procedure"
            statementType="CALLABLE"
            parameterType="java.util.Map"
            resultType="java.util.Map">
        {
            CALL updateOilStationPrice_by_Procedure(
                #{province,mode=IN},
                #{newOilStationPrice,mode=IN},
                #{price_0,mode=IN},
                #{price_92,mode=IN},
                #{price_95,mode=IN},
                #{price_98,mode=IN},
                #{updateNum,mode=OUT,jdbcType=INTEGER}
            )
        }
    </select>

    <select id="getSimpleOilStationByCondition" resultType="java.util.Map">
        SELECT
        <include refid="TColumnList"/>
        FROM o_oil_station oos
        <include refid="queryConditions"/>
        <if test="start != null and size != null">
            LIMIT ${start},${size}
        </if>
    </select>

    <select id="getSimpleOilStationTotalByCondition"
            resultType="java.lang.Integer">
        SELECT
        COUNT(oos.id) total
        from o_oil_station oos
        <include refid="queryConditions"/>
    </select>

    <select id="getSimpleOilStationTotalByCode"
            resultType="java.lang.Integer">
        SELECT
        COUNT(oos.id) total
        from o_oil_station oos
        where oos.oil_station_code = #{oilStationCode}
    </select>

    <select id="getMaxOilStationCode" resultType="java.util.Map">
        SELECT
        MAX(cast(oos.oil_station_code as decimal)) as "oilStationCode"
        FROM o_oil_station oos
    </select>

</mapper>

        <!--大路田坝加油站的油价-->
        <!--[{"oilNameLabel": "柴油", "oilModelLabel": "0", "oilPriceLabel": "6.90"},{"oilNameLabel": "汽油", "oilModelLabel": "92", "oilPriceLabel": "7.33"},{"oilNameLabel": "汽油", "oilModelLabel": "95", "oilPriceLabel": "7.70"},{"oilNameLabel": "饮料", "oilModelLabel": "红牛", "oilPriceLabel": "6.00"},{"oilNameLabel": "饮料", "oilModelLabel": "芬达", "oilPriceLabel": "2.50"},{"oilNameLabel": "饮料", "oilModelLabel": "百事", "oilPriceLabel": "2.50"},{"oilNameLabel": "零食", "oilModelLabel": "槟榔", "oilPriceLabel": "10.00"},{"oilNameLabel": "饮料", "oilModelLabel": "娃哈哈", "oilPriceLabel": "2.00"},{"oilNameLabel": "饮料", "oilModelLabel": "冰红茶", "oilPriceLabel": "3.00"},{"oilNameLabel": "饮料", "oilModelLabel": "美年达", "oilPriceLabel": "2.50"},{"oilNameLabel": "饮料", "oilModelLabel": "美年达", "oilPriceLabel": "2.50"}]-->

        <!--存储过程-->
        <!--DROP PROCEDURE IF EXISTS updateOilStationPrice_by_Procedure;-->
        <!--CREATE PROCEDURE updateOilStationPrice_by_Procedure(-->
        <!--IN  province           VARCHAR(300),-->
        <!--IN  newOilStationPrice TEXT,-->
        <!--IN  price_0            DECIMAL(10, 2),-->
        <!--IN  price_92           DECIMAL(10, 2),-->
        <!--IN  price_95           DECIMAL(10, 2),-->
        <!--IN  price_98           DECIMAL(10, 2),-->
        <!--OUT updateNum          INT-->
        <!--)-->
        <!--BEGIN-->
        <!--DECLARE done INT DEFAULT 0;-->
        <!--DECLARE row_id INT;-->
        <!--DECLARE row_oilStationPrice TEXT;-->
        <!--&#45;&#45; 这个语句声明一个光标保存记录集。也可以在子程序中定义多个光标，但是一个块中的每一个光标必须有唯一的名字-->
        <!--DECLARE cur CURSOR FOR SELECT-->
        <!--id                AS "id",-->
        <!--oil_station_price AS "oilStationPrice"-->
        <!--FROM o_oil_station-->
        <!--WHERE oil_station_adress LIKE-->
        <!--concat('%', province, '%');-->
        <!--DECLARE CONTINUE HANDLER FOR SQLSTATE '02000' SET done = 1;-->
        <!--OPEN cur;-->
        <!--REPEAT &#45;&#45; 循环-->
        <!--FETCH cur-->
        <!--INTO row_id, row_oilStationPrice; &#45;&#45; 这个语句用指定的打开光标读取下一行（如果有下一行的话），并且前进光标指针-->
        <!--IF NOT done-->
        <!--THEN-->
        <!--&#45;&#45; 更新 0#柴油 价格-->
        <!--IF price_0 IS NOT NULL-->
        <!--THEN-->
        <!--SET row_oilStationPrice = JSON_REPLACE(-->
        <!--row_oilStationPrice,-->
        <!--SUBSTRING_INDEX(-->
        <!--REPLACE(JSON_SEARCH(row_oilStationPrice, 'all', '柴油'), '"',-->
        <!--''), '.', 1),-->
        <!--JSON_EXTRACT(newOilStationPrice,-->
        <!--SUBSTRING_INDEX(REPLACE(-->
        <!--JSON_SEARCH(newOilStationPrice,-->
        <!--'all', '柴油'), '"',-->
        <!--''), '.', 1))-->
        <!--);-->
        <!--&#45;&#45; 随机 0#柴油 油价-->
        <!--SET @price_0_new = 0;-->
        <!--SET @randNum = (SELECT round(RAND()*0.1, 2));-->
        <!--IF @randNum > 0.05-->
        <!--THEN-->
        <!--SET @price_0_new = round((price_0 - @randNum), 2);-->
        <!--ELSE-->
        <!--SET @price_0_new = round((price_0 + @randNum), 2);-->
        <!--END IF;-->
        <!--SET @price_0_str = concat(price_0, "");-->
        <!--SET @price_0_new_str = concat(@price_0_new, "");-->
        <!--SET row_oilStationPrice = REPLACE(row_oilStationPrice, @price_0_str,-->
        <!--@price_0_new_str);-->
        <!--END IF;-->

        <!--&#45;&#45; 更新 92#汽油 价格-->
        <!--IF price_92 IS NOT NULL-->
        <!--THEN-->
        <!--SET row_oilStationPrice = JSON_REPLACE(-->
        <!--row_oilStationPrice,-->
        <!--SUBSTRING_INDEX(-->
        <!--REPLACE(JSON_SEARCH(row_oilStationPrice, 'all', '92'), '"',-->
        <!--''), '.', 1),-->
        <!--JSON_EXTRACT(newOilStationPrice,-->
        <!--SUBSTRING_INDEX(REPLACE(-->
        <!--JSON_SEARCH(newOilStationPrice,-->
        <!--'all', '92'), '"',-->
        <!--''), '.', 1))-->
        <!--);-->
        <!--&#45;&#45; 随机 92#汽油 油价-->
        <!--SET @price_92_new = 0;-->
        <!--SET @randNum = (SELECT round(RAND()*0.1, 2));-->
        <!--IF @randNum > 0.05-->
        <!--THEN-->
        <!--SET @price_92_new = round((price_92 - @randNum), 2);-->
        <!--ELSE-->
        <!--SET @price_92_new = round((price_92 + @randNum), 2);-->
        <!--END IF;-->
        <!--SET @price_92_str = concat(price_92, "");-->
        <!--SET @price_92_new_str = concat(@price_92_new, "");-->
        <!--SET row_oilStationPrice = REPLACE(row_oilStationPrice, @price_92_str,-->
        <!--@price_92_new_str);-->
        <!--END IF;-->

        <!--&#45;&#45; 更新 95#汽油 价格-->
        <!--IF price_95 IS NOT NULL-->
        <!--THEN-->
        <!--SET row_oilStationPrice = JSON_REPLACE(-->
        <!--row_oilStationPrice,-->
        <!--SUBSTRING_INDEX(-->
        <!--REPLACE(JSON_SEARCH(row_oilStationPrice, 'all', '95'), '"',-->
        <!--''), '.', 1),-->
        <!--JSON_EXTRACT(newOilStationPrice,-->
        <!--SUBSTRING_INDEX(REPLACE(-->
        <!--JSON_SEARCH(newOilStationPrice,-->
        <!--'all', '95'), '"',-->
        <!--''), '.', 1))-->
        <!--);-->
        <!--&#45;&#45; 随机 95#汽油 油价-->
        <!--SET @price_95_new = 0;-->
        <!--SET @randNum = (SELECT round(RAND()*0.1, 2));-->
        <!--IF @randNum > 0.05-->
        <!--THEN-->
        <!--SET @price_95_new = round((price_95 - @randNum), 2);-->
        <!--ELSE-->
        <!--SET @price_95_new = round((price_95 + @randNum), 2);-->
        <!--END IF;-->
        <!--SET @price_95_str = concat(price_95, "");-->
        <!--SET @price_95_new_str = concat(@price_95_new, "");-->
        <!--SET row_oilStationPrice = REPLACE(row_oilStationPrice, @price_95_str,-->
        <!--@price_95_new_str);-->
        <!--END IF;-->

        <!--&#45;&#45; 更新 98#汽油 价格-->
        <!--IF price_98 IS NOT NULL-->
        <!--THEN-->
        <!--SET row_oilStationPrice = JSON_REPLACE(-->
        <!--row_oilStationPrice,-->
        <!--SUBSTRING_INDEX(-->
        <!--REPLACE(JSON_SEARCH(row_oilStationPrice, 'all', '98'), '"',-->
        <!--''), '.', 1),-->
        <!--JSON_EXTRACT(newOilStationPrice,-->
        <!--SUBSTRING_INDEX(REPLACE(-->
        <!--JSON_SEARCH(newOilStationPrice,-->
        <!--'all', '98'), '"',-->
        <!--''), '.', 1))-->
        <!--);-->
        <!--&#45;&#45; 随机 98#汽油 油价-->
        <!--SET @price_98_new = 0;-->
        <!--SET @randNum = (SELECT round(RAND()*0.1, 2));-->
        <!--IF @randNum > 0.05-->
        <!--THEN-->
        <!--SET @price_98_new = round((price_98 - @randNum), 2);-->
        <!--ELSE-->
        <!--SET @price_98_new = round((price_98 + @randNum), 2);-->
        <!--END IF;-->
        <!--SET @price_98_str = concat(price_98, "");-->
        <!--SET @price_98_new_str = concat(@price_98_new, "");-->
        <!--SET row_oilStationPrice = REPLACE(row_oilStationPrice, @price_98_str,-->
        <!--@price_98_new_str);-->
        <!--END IF;-->

        <!--#         SELECT-->
        <!--#           price_0,-->
        <!--#           @price_0_new,-->
        <!--#           price_92,-->
        <!--#           @price_92_new,-->
        <!--#           price_95,-->
        <!--#           @price_95_new,-->
        <!--#           price_98,-->
        <!--#           @price_98_new,-->
        <!--#           updateNum,-->
        <!--#           row_oilStationPrice;-->

        <!--&#45;&#45; 更新 油价-->
        <!--UPDATE o_oil_station-->
        <!--SET-->
        <!--oil_station_price = row_oilStationPrice,-->
        <!--update_time       = CURRENT_TIMESTAMP-->
        <!--WHERE id = row_id and id not in (320124);-->

        <!--END IF;-->
        <!--UNTIL done END REPEAT; &#45;&#45; 结束循环-->
        <!--CLOSE cur; &#45;&#45; 这个语句关闭先前打开的光标。-->

        <!--&#45;&#45; 返回值-->
        <!--SELECT count(id)-->
        <!--INTO updateNum-->
        <!--FROM o_oil_station-->
        <!--WHERE oil_station_adress LIKE concat('%', province, '%');-->
        <!--SELECT updateNum;-->
        <!--END-->


        <!--call updateOilStationPrice_by_Procedure(-->
        <!--'贵州',-->
        <!--'[{"oilModelLabel":"0","oilNameLabel":"柴油","oilPriceLabel":"8.00"},{"oilModelLabel":"92","oilNameLabel":"汽油","oilPriceLabel":"9.00"},{"oilModelLabel":"95","oilNameLabel":"汽油","oilPriceLabel":"10.00"},{"oilModelLabel":"98","oilNameLabel":"汽油","oilPriceLabel":"11.00"}]',-->
        <!--8.00,-->
        <!--9.00,-->
        <!--10.00,-->
        <!--11.00,-->
        <!--@0-->
        <!--);-->